html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.hidden {
  display: none;
}

.view-highscores-button {
  color: blue;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  left: 7%;
  top: 7%;
  border: none;
  background-color: white;
  cursor: pointer;
}

.position-timer {
  position: absolute;
  right: 7%;
  top: 7%;
  color: blue;
  font-size: 25px;
  font-weight: bold;
}

.description-quiz {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 40px;
  text-align: center;
}

.start-container {
  text-align: center;
}

.start-quiz-container {
  display: flex;
  justify-content: center;
}

#start-quiz {
  padding: 10px 20px;
  font-size: 30px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.questions-container {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.alternatives {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.highscores-styling {
  background-color: blue;
}

ul {
  margin: 50px;
}

li {
  background-color: blue;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  margin: 5px;
}

#display-answer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid #000;
  background-color: #f9f9f9;
  padding: 10px 20px;
  text-align: center;
}

#display-answer p {
  font-size: 30px;
}

#submit-screen, #view-highscores-screen {
  text-align: center;
}

#submit-screen h2, #view-highscores-screen h2 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 40px;
}

#submit-screen p, #view-highscores-screen p {
  font-size: 25px;
}

#submit-screen label, #view-highscores-screen label {
  font-size: 25px;
  font-weight: bold;
}

#submit-screen input, #view-highscores-screen input {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#submit-button, #go-back, #clear-high-scores {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .description-quiz, .questions-container {
    margin: 0 20px;
  }

  #start-quiz {
    margin: 30px;
  }
}